{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Booking Fields"|t('booked') %}
{% set selectedSubnavItem = 'booking-fields' %}

{% block content %}
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="booked/cp/settings/save-booking-fields">
        {{ redirectInput('booked/settings/booking-fields') }}

        <p class="instructions">
            {{ "Define the fields that should be available for bookings. These fields will be shown in the booking form and the Control Panel."|t('booked') }}
        </p>

        <div id="field-layout-designer">
            {{ forms.fieldLayoutDesignerField({
                fieldLayout: fieldLayout,
                customConfig: {
                    fieldSettingsHandle: 'reservation'
                }
            }) }}
        </div>

        <hr>

        <div class="buttons">
            <button type="submit" class="btn submit">{{ 'Save'|t('app') }}</button>
        </div>
    </form>
{% endblock %}

