{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'blackout-dates' %}
{% set title = blackoutDate ? 'Edit Blackout Date'|t('booked') : 'New Blackout Date'|t('booked') %}

{% set fullPageForm = true %}

{% block content %}
    <input type="hidden" name="action" value="booked/cp/blackout-dates/save">
    {% if blackoutDate %}
        <input type="hidden" name="elementId" value="{{ blackoutDate.id }}">
    {% endif %}

    <div id="fields">
        {{ forms.lightswitchField({
            label: 'Active'|t('booked'),
            id: 'isActive',
            name: 'isActive',
            on: blackoutDate ? blackoutDate.isActive : true
        }) }}

        {{ forms.textField({
            label: 'Title'|t('app'),
            id: 'title',
            name: 'title',
            value: blackoutDate.title ?? '',
            required: true,
            autofocus: true,
            errors: blackoutDate ? blackoutDate.getErrors('title') : []
        }) }}

        {{ forms.dateField({
            label: 'Start Date'|t('booked'),
            id: 'startDate',
            name: 'startDate',
            value: blackoutDate.startDate ?? '',
            required: true,
            errors: blackoutDate ? blackoutDate.getErrors('startDate') : []
        }) }}

        {{ forms.dateField({
            label: 'End Date'|t('booked'),
            id: 'endDate',
            name: 'endDate',
            value: blackoutDate.endDate ?? '',
            required: true,
            errors: blackoutDate ? blackoutDate.getErrors('endDate') : []
        }) }}

        {{ forms.elementSelectField({
            label: 'Locations'|t('booked'),
            id: 'locationIds',
            name: 'locationIds',
            elementType: 'fabian\\booked\\elements\\Location',
            elements: blackoutDate ? blackoutDate.getLocations() : [],
            limit: null,
        }) }}

        {{ forms.elementSelectField({
            label: 'Employees'|t('booked'),
            id: 'employeeIds',
            name: 'employeeIds',
            elementType: 'fabian\\booked\\elements\\Employee',
            elements: blackoutDate ? blackoutDate.getEmployees() : [],
            limit: null,
        }) }}
    </div>
{% endblock %}
