{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'employees' %}
{% set title = employee.id ? 'Edit Employee'|t('booked') : 'New Employee'|t('booked') %}
{% set crumbs = [
    { label: 'Booked'|t('booked'), url: url('booked/employees') },
    { label: 'Employees'|t('booked'), url: url('booked/employees') },
    { label: title }
] %}

{% set fullPageForm = true %}

{% block content %}
    <input type="hidden" name="action" value="booked/cp/employees/save">
    {% if employee.id %}
        <input type="hidden" name="elementId" value="{{ employee.id }}">
    {% endif %}

    <div id="fields">
        {{ forms.textField({
            label: 'Title'|t('app'),
            id: 'title',
            name: 'title',
            value: employee.title,
            required: true,
            autofocus: true,
            errors: employee.getErrors('title')
        }) }}

        {{ forms.textField({
            label: 'Slug'|t('app'),
            id: 'slug',
            name: 'slug',
            value: employee.slug,
            errors: employee.getErrors('slug')
        }) }}

        {{ forms.selectField({
            label: 'User'|t('booked'),
            id: 'userId',
            name: 'userId',
            options: [{ value: '', label: 'Select User'|t('booked') }]|merge(users|map(u => { value: u.id, label: u.name ?? u.email })),
            value: employee.userId,
            errors: employee.getErrors('userId'),
            instructions: 'Link this employee to a Craft user account'
        }) }}

        {{ forms.elementSelectField({
            label: 'Location'|t('booked'),
            id: 'locationId',
            name: 'locationId',
            elementType: 'fabian\\booked\\elements\\Location',
            elements: employee.locationId ? [employee.getLocation()] : [],
            limit: 1,
            errors: employee.getErrors('locationId'),
            instructions: 'Primary location for this employee'
        }) }}

        {{ forms.lightswitchField({
            label: 'Enabled'|t('app'),
            id: 'enabled',
            name: 'enabled',
            on: employee.enabled ?? true
        }) }}
    </div>
{% endblock %}

