{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'locations' %}
{% set title = location.id ? 'Edit Location'|t('booked') : 'New Location'|t('booked') %}
{% set crumbs = [
    { label: 'Booked'|t('booked'), url: url('booked/locations') },
    { label: 'Locations'|t('booked'), url: url('booked/locations') },
    { label: title }
] %}

{% set fullPageForm = true %}

{% block content %}
    <input type="hidden" name="action" value="booked/cp/locations/save">
    {% if location.id %}
        <input type="hidden" name="elementId" value="{{ location.id }}">
    {% endif %}

    <div id="fields">
        {{ forms.textField({
            label: 'Title'|t('app'),
            id: 'title',
            name: 'title',
            value: location.title,
            required: true,
            autofocus: true,
            errors: location.getErrors('title')
        }) }}

        {{ forms.textField({
            label: 'Slug'|t('app'),
            id: 'slug',
            name: 'slug',
            value: location.slug,
            errors: location.getErrors('slug')
        }) }}

        {% set address = location.getPrimaryAddress() ?? create('craft\\elements\\Address') %}
        <div id="address-container">
            {% namespace 'address' %}
                {{ forms.selectField({
                    label: "Country"|t('app'),
                    id: 'countryCode',
                    name: 'countryCode',
                    options: craft.app.addresses.getCountryList(),
                    value: address.countryCode ?? craft.app.addresses.getDefaultCountryCode(),
                    errors: address.getErrors('countryCode'),
                    class: 'address-country-select'
                }) }}

                <div class="address-fields">
                    {{ craft.app.cp.addressFieldsHtml(address)|raw }}
                </div>
            {% endnamespace %}
        </div>

        {{ forms.selectField({
            label: 'Timezone'|t('booked'),
            id: 'timezone',
            name: 'timezone',
            options: craft.app.timeZones.getAllTimeZones()|map((label, value) => { value: value, label: label }),
            value: location.timezone ?? craft.app.timeZone,
            errors: location.getErrors('timezone'),
            instructions: 'Timezone for this location'
        }) }}

        {{ forms.textareaField({
            label: 'Contact Info'|t('booked'),
            id: 'contactInfo',
            name: 'contactInfo',
            value: location.contactInfo,
            rows: 2,
            errors: location.getErrors('contactInfo'),
            instructions: 'Contact information for this location (phone, email, etc.)'
        }) }}

        {{ forms.lightswitchField({
            label: 'Enabled'|t('app'),
            id: 'enabled',
            name: 'enabled',
            on: location.enabled ?? true
        }) }}
    </div>

    {% js %}
        (function() {
            const $countrySelect = $('#address-countryCode');
            const $fieldsContainer = $('#address-container .address-fields');

            $countrySelect.on('change', function() {
                const countryCode = $(this).val();
                
                Craft.postActionRequest('addresses/fields', {
                    namespace: 'address',
                    countryCode: countryCode
                }, function(response, textStatus) {
                    if (textStatus === 'success') {
                        $fieldsContainer.html(response.fieldsHtml);
                        Craft.initUiElements($fieldsContainer);
                    }
                });
            });
        })();
    {% endjs %}
{% endblock %}

